doctype html
html(lang="ja")
   head
      itle= title
      include _header.pug
      block header
   body
      .lemono-mainlayout__onelayer
         .lemono-layer__wide
            block contents
         .lemono-loading
            .lemono-loading__content
               img.lemono-loading__logo(src="/logo.svg")
               h4 東京寮WebApp
               | 読み込み中...
               .lemono-loading__animation