doctype html
html(lang="ja")
   head
      title= title
      include _header.pug
      block header
   body
      .lemono-mainlayout
         header.lemono-mainlayout__header
            span.lemono-drawer__button.lemono-only-small-screen.material-icons menu
            span.lemono-mainlayout__header-logo 東京寮WebApp
         aside.lemono-mainlayout__aside
            nav.lemono-navlist
               a.lemono-nav.lemono-title-nav(href="./") ホーム
               a.lemono-nav.lemono-title-nav(href="./post") 掲示の投稿
               a.lemono-nav.lemono-title-nav(href="./members") メンバー
               a.lemono-nav.lemono-title-nav(href="./onlinemeeting") オンライン会議
               a.lemono-nav.lemono-title-nav(href="./editprofile") プロフィールの編集
               a.lemono-nav.lemono-title-nav(href="./status") 帰省/在寮/外泊状況
               a.lemono-nav.lemono-title-nav(href="https://github.com/TokyoRyo/webapp", target="_blank") GitHub repository
               a.lemono-nav.lemono-title-nav.auth-signout(href="#") ログアウト
         .lemono-mainlayout__content(role="main")
            .lemono-layer__wide
               block contents
         .lemono-loading
            .lemono-loading__content
               img.lemono-loading__logo(src="/logo.svg")
               h4 東京寮WebApp
               | 読み込み中...
               .lemono-loading__animation