extends ./include/_layout-login.pug

block contents
   .lemono-layer__wide
      h3 東京寮WebApp
      h5 メールアドレスとパスワードを入力してアカウントを作成します。
   .lemono-layer__middle.card.blue
      form.createaccount(name="createaccount")
         .lemono-textbox
            input(type="text" name="email")
            .lemono-textbox__title メールアドレス
         .lemono-textbox
            input(type="password" name="password")
            .lemono-textbox__title パスワード
         button.lemono-button__accent アカウントを作成