extends ./include/_layout-login.pug

block header
   script(src="/signin.js")

block contents
   .lemono-layer__wide
      h3 東京寮WebApp
      h5 メールアドレスとパスワードを入力してアカウントを作成します。
      | 認証システムはGoogle Firebase Authenticationを利用しています。<br>
      | メールアドレスはシステム管理者(赤沢)に見られますが、パスワードは誰にも見られることはありません。
      | 管理者もGoogleもアカウント情報が流出した場合の責任はとることができません。
      | 同意いただけない場合は赤沢まで相談してください。
   .lemono-layer__middle.card.blue
      form.createaccount(name="createaccount")
         .lemono-textbox
            input(type="text" name="email")
            .lemono-textbox__title メールアドレス
         .lemono-textbox
            input(type="password" name="password")
            .lemono-textbox__title パスワード
         button.lemono-button__accent アカウントを作成