extends ./include/_layout-logined.pug

block header
   title 掲示の投稿
   script(src="/auth.js")
   script(src="/lemono-contenteditable.js")

block contents
   .topicid(style="display:none") #{id}
   h3 トピックの編集
   form.posttopic
      .lemono-textbox
         input.topictitle(type="text", name="title" required)
         .lemono-textbox__title トピックのタイトル【必須】
      .lemono-contenteditable
         .lemono-contenteditable__title 掲示の内容
         .lemono-contenteditable__editablearea
            .lemono-contenteditable__header
               .lemono-contenteditable__header__tools
                  button.lemono-contenteditable__button-color(name="lemono-marking__normal", type="button")
                     span.lemono-marking__normal 標準
                  button.lemono-contenteditable__button-color(name="lemono-marking__large", type="button")
                     span.lemono-marking__normal 大きく
                  button.lemono-contenteditable__button-color(name="lemono-marking__important", type="button")
                     span.lemono-marking__important 重要
                  button.lemono-contenteditable__button-color(name="lemono-marking__note", type="button")
                     span.lemono-marking__note 注意
                  button.lemono-contenteditable__button-color(name="lemono-marking__red", type="button")
                     span.lemono-marking__red 赤色
                  button.lemono-contenteditable__button-color(name="lemono-marking__green", type="button")
                     span.lemono-marking__green 緑色
                  button.lemono-contenteditable__button-color(name="lemono-marking__blue", type="button")
                     span.lemono-marking__blue 青色
                  button.lemono-contenteditable__button-color(name="lemono-marking__purple", type="button")
                     span.lemono-marking__purple 紫色
                  button.lemono-contenteditable__button-color(name="lemono-marking__yellow", type="button")
                     span.lemono-marking__yellow 黄色
            .lemono-contenteditable__content.topiccontent(contenteditable="true") 
      .filelist
      div ファイルは一つずつアップロードしてください。合計5GBを超えるとお金がかかります。間違っても動画ファイルをアップロードしないでください。<br>同じ名前でアップロードすると上書きされます。
      input#file(type="file")
      button.lemono-button__white.upload(type="button") ファイルをアップロード
      br
      button.lemono-button__accent 投稿する