extends ./include/_layout-login.pug

block header
   script(src="/auth.js")

block contents
   h3 東京寮WebApp
   h5 最初にプロフィールを設定してください。
   form.editprofile
      .lemono-textbox
         input(type="text", name="name" required)
         .lemono-textbox__title 名前(本名・スペースなしフルネーム)
      .lemono-select
         select.normalselect(name="grade")
            option(value="学年：未指定/分からない") 未指定/分からない
            option(value="1年生") 1年生
            option(value="2年生") 2年生
            option(value="3年生") 3年生
            option(value="4年生") 4年生
            option(value="院生等") 院生等
            option(value="その他") 寮生ではない
         .lemono-select__title 寮での学年(留年等は考慮しない)
      .lemono-select
         select.normalselect(name="job")
            option(value="役職：未指定/分からない") 未指定/分からない
            option(value="ネットワーク") ネットワーク委員
            option(value="ネットワーク(委員長)") ネットワーク委員(委員長)
            option(value="会計") 会計委員
            option(value="会計(委員長)") 会計委員(委員長)
            option(value="文化") 文化委員
            option(value="文化(委員長)") 文化委員(委員長)
            option(value="懲罰") 懲罰委員
            option(value="懲罰(委員長)") 懲罰委員(委員長)
            option(value="厚生") 厚生委員
            option(value="厚生(委員長)") 厚生委員(委員長)
            option(value="議長") 議長
            option(value="委員長") 委員長
            option(value="副議長") 副議長
            option(value="書記") 書記
            option(value="寮長") 寮長
            option(value="役職：その他") その他
         .lemono-select__title 役職
      .lemono-select
         select.normalselect(name="floor")
            option(value="未指定/分からない") 未指定/分からない
            option(value="2階") 2階
            option(value="3階") 3階
            option(value="4階") 4階
            option(value="その他") その他
         .lemono-select__title 寮の部屋の階
      .lemono-textbox
         input(type="text", name="linename" required)
         .lemono-textbox__title LINEのプロフィール名
      button.lemono-button__accent 登録する