extends ./include/_layout-logined.pug

block header
   script(src="/signin.js")

block contents
   h3 掲示

block header
   script(src="/auth.js")
   meta(name="apple-mobile-web-app-capable", content="yes")
   meta(name="apple-mobile-web-app-status-bar-style", content="black")
   meta(name="apple-mobile-web-app-title", content="東京寮WebApp")
   link(rel="apple-touch-icon", href="/icons/icon-152x152.png")
   link(rel="manifest", href="/manifest.json")
   script if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/sw.js').then((reg) => {console.log('Service worker registered.', reg);});}