extends ./include/_layout-login.pug

block header
   title= ログイン
   script(src="/signin.js")

block contents
   .lemono-layer__wide
      h3 東京寮WebApp
      h5 ログインまたはアカウントを作成してください。
   .lemono-layer__middle
      .lemono-card.red
         .lemono-card__content
            h4 パスワードが違います。
   .lemono-grid
      .lemono-grid__span4.lemono-card.green
         span.lemono-card__index ログインする
         span.lemono-card__content
            | 既にアカウントを作成している寮生はここからログインしてください。
            form.lemono-auth-signin(name="sign-in")
               .lemono-textbox
                  input(type="text" name="email")
                  .lemono-textbox__title メールアドレス
               .lemono-textbox
                  input(type="password" name="password")
                  .lemono-textbox__title パスワード
               button.lemono-button__accent ログイン
      .lemono-grid__span4.lemono-card.blue
         span.lemono-card__index アカウントを作成する
         span.lemono-card__content
            | またアカウントを作成していない寮生はここから作成できます。<br>
            | アカウント作成のための共通パスワードは、旧寮生サイトのものを同じです。
            form.auth-confirm(name="confirm", action="./confirm", method="post")
               .lemono-textbox
                  input(type="password" name="password")
                  .lemono-textbox__title 共通パスワード
               button.lemono-button__accent アカウントを作成