extends ./include/_layout-logined.pug

block header
   title= メンバー
   script(src="/auth.js")

block contents
   h3 メンバー
   h4 1年生
   .memberstable1
   h4 2年生
   .memberstable2
   h4 3年生
   .memberstable3
   h4 4年生
   .memberstable4
   h4 院生等
   .memberstable5
   h4 その他
   .memberstable6

