extends ./include/_layout-logined.pug

block header
   title 掲示の投稿
   script(src="/auth.js")

block contents
   h3 掲示の投稿
   h5 寮長及び寮生はここから掲示を送信することができます。
   | (お願い)LINEでの通知は
   span.lemono-marking__red 月1000通(=送った人数×送ったメッセージ数)までが無料
   | で
   span.lemono-marking__blue それ以降は有料
   | になります。不必要な掲示を防ぐため、通知を送信する対象を絞り込むことができる場合は絞り込んでください。ただし、おそらく月1000通はいかないので、
   span.lemono-marking__yellow 必要なことは全員に通知付きで掲示
   | してもらってかまいません。
   span.lemono-marking__important 掲示を投稿した人は、適当な時間が過ぎたら掲示を削除してください。
   form.post
      .lemono-textbox
         input(type="text", name="title" required)
         .lemono-textbox__title 掲示のタイトル【必須】
      .lemono-textbox
         textarea(name="content")
         .lemono-textbox__title 掲示の内容
      .questions
      button.lemono-button__flat.addquestion(type="button") アンケート(質問)を追加する
      .lemono-select
         select.normalselect(name="indormitory")
            option(value="all") 在寮・帰省・外泊全員
            option(value="dormitory") 在寮の寮生のみ
            option(value="home") 帰省・外泊中の寮生のみ
            option(value="no") 通知・既読確認は使用しない
         .lemono-select__title 通知・既読確認の対象の寮生
      .lemono-checkbox
         .lemono-checkbox__title 通知・既読確認の対象学年
         label
            input(type="checkbox", name="postto", value="1年生", checked)
            span 1年生
         label
            input(type="checkbox", name="postto", value="2年生", checked)
            span 2年生
         label
            input(type="checkbox", name="postto", value="3年生", checked)
            span 3年生
         label
            input(type="checkbox", name="postto", value="4年生", checked)
            span 4年生
         label
            input(type="checkbox", name="postto", value="院生等", checked)
            span 院生等
   button.lemono-button__accent.notsubmit 投稿する