extends ./include/_layout-logined.pug

block header
   title ステータス
   script(src="/auth.js")

block contents
   h3 帰省/在寮/外泊状態更新
   h5 帰省・外泊には別途寮長に届け出が必要です。
   h5 予定が変わった場合はここで更新するだけではなく直接寮長に連絡してください。
   form.status
      .lemono-radio
         .lemono-checkbox__title 帰省/在寮/外泊状態
         label
            input(type="radio", name="status", value="在寮", required)
            span 在寮
         label
            input(type="radio", name="status", value="帰省中", required)
            span 帰省中
         label
            input(type="radio", name="status", value="外泊中", required)
            span 外泊中
      .lemono-textbox.statusinfo(style="display:none")
         input(type="text", name="additionalinfo")
         .lemono-textbox__title 寮に戻る予定の日（未定なら未定と入力）
      button.lemono-button__accent 設定する