extends ./include/_layout-logined.pug

block header
   script(src="/auth.js")
   script(src="/lemono-contenteditable.js")

block contents
   h3 トピック
   h5 文章とファイルを共有できます。
   button.lemono-button__flat.newtopic 新しいトピックを作る
   .lemono-grid.inserttopic